@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {padding: 10px; min-width: 400px;}
input {
    background: #FAFBFC;
    outline: 2px solid;
    outline-color: #DFE1E6;
    border-radius: 3px;
    border:none;
    padding: 8px 10px;
    width: 100%;
    box-sizing: border-box;
    
}
input:focus-visible {
    background: white;
    outline: 2px solid #0065FF;
}
.error {outline: 1px solid red;}
.error::placeholder {color: red;}
button{
    background: #0065FF;
    border: 2px solid #0065FF;
    border-radius: 3px;
    padding: 8px 10px;
    color: white;
    box-sizing: border-box;
    margin: 10px 0px;
}
.delete {border:1px solid red; background: transparent; color: red;}
.delete:hover {border:1px solid red; background: #FFEBE6; color: #BF2600;}
button:hover {
    background: #0747A6;
    cursor: pointer;
}
ul {display: flex; justify-content: flex-start; flex-direction: column; gap: 10px; padding: 10px 0px;}
li {width: 100%; box-shadow: 0 5px 10px rgba(0,0,0,0.1); border-radius: 3px;font-size: 0.8em;box-sizing: border-box;}
li a { padding: 10px;text-decoration: none; color: inherit; box-sizing: border-box; width: 100%;display: inline-block;}
li a:hover { text-decoration: underline; background:#DEEBFF; color: #172B4D}
.error-message {font-size: 0.8em;box-sizing: border-box;color: red; background: #FFEBE6; padding: 10px; margin: 10px 0 0 0px}
.clear-message {color: #006644; background: #E3FCEF; font-size: 0.8em;box-sizing: border-box; padding: 10px; margin: 10px 0 0 0px}